<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tutorial dan sumber belajar web development">
  
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:image" content="{{ with .Params.image }}{{ . }}{{ else }}{{ .Site.BaseURL }}images/default-og-image.jpg{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ .Site.Title }}">
  
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    
    
    <!-- Highlight.js CSS -->
    <link rel="stylesheet" href="{{ "css/github-dark.min.css" | relURL }}">
    <!-- Link ke stylesheet yang sudah dibuild -->
    <link rel="stylesheet" href="{{ "css/output.css" | relURL }}" />
</head>
<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white">

    
    <!-- Header -->
    {{ partial "nav.html" . }}
    
    <!-- Main Content -->
    <main class="flex-grow">
        {{ block "main" . }}{{ end }}
    </main>

    <!-- toggle-theme -->
    {{ partial "script.js.html" . }}
    
    <!-- Footer -->
    {{ partial "footer.html" . }}

    <!-- Highlight.js script -->
    <script src="{{ "js/highlight.min.js" | relURL }}"></script>
    <script>hljs.highlightAll();</script>

        <!-- Medium Zoom Script -->
    {{ partial "medium-zoom.html" . }}
</body>
</html>
