<script id="zoom-template" type="text/template">
  <div class="zoom-container">
    <img class="zoom-image" draggable="false" />
    <div class="zoom-actions">
      <button class="zoom-close" title="Tutup (Esc)">
        <svg width="24" height="24" viewBox="0 0 24 24"><path d="M18 6L6 18M6 6l12 12"/></svg>
      </button>
      <button class="zoom-zoomout" title="Zoom Out">
        <svg width="24" height="24" viewBox="0 0 24 24"><path d="M5 12H19"/></svg>
      </button>
      <button class="zoom-zoomin" title="Zoom In">
        <svg width="24" height="24" viewBox="0 0 24 24"><path d="M12 5V19M5 12H19"/></svg>
      </button>
    </div>
  </div>
</script>