<form action="https://formspree.io/f/xnnddnlv" method="POST" class="space-y-4 max-w-xl mt-4">
    <div>
        <label for="name" class="block text-sm font-medium text-primary-700">Nama</label>
        <input
          type="text"
          name="name"
          id="name"
          required
          placeholder="Masukkan nama Anda"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm"
        >
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-primary-700">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          placeholder="nama@email.com"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm"
        >
      </div>
      <div>
        <label for="message" class="block text-sm font-medium text-primary-700">Pesan</label>
        <textarea
          name="message"
          id="message"
          rows="4"
          required
          placeholder="Tulis pesan Anda di sini..."
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm"
        ></textarea>
      </div>
  </form>
  